@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

.controls {
  margin: 50px;
  text-align: center;
}

h1 {
  font-family: Josefin Slab;
  font-size: 72px;
  text-align: center;
}

button {
  background: #CA706C;
  color: #FFF;
  font-family: Josefin Slab;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px solid black;
  margin: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

button:hover{
    background: #356094;
}
