@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

.controls {
  margin: 50px;
  text-align: center;
}

h1 {
  font-family: Josefin Slab;
  font-size: 72px;
  text-align: center;
  z-index: 100;
}

button {
  background: #4479BA;
  color: #FFF;
  font-family: Josefin Slab;
  font-size: 50px;
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

button:hover{
    /*background: #356094;*/
    opacity: 0.65;
}

body {
  background-color: white;
  transition: all 1.0s ease;
}

.clicked {
  background-color: green;
}

#bar {
  border: 2px solid black;
  width: 75%;
  margin: 0 auto;
  position: relative;
}

.level{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1.0s linear;
  z-index: -1;
}
