@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

#timer {
  background-color: #9b9fa5;
  border: 1px solid black;
  box-shadow: 2px 2px black;
  border-radius: 10px;
  margin: 20px;
  padding: 15px 25px;
  font-family: Josefin Slab;
}

.controls {
  margin: 50px;
  text-align: center;
}

h1 {
  font-family: Josefin Slab;
  font-size: 72px;
  text-align: center;
}

button {
  background: #4479BA;
  color: #FFF;
  font-family: Josefin Slab;
  font-size: 50px;
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

button:hover{
    background: #356094;
}
